<nav>
    <ul>
        <li>HOME</li>
        <li>CONTACT</li>
        <li>PAGINA1</li>
        <li>PAGINA2</li>
        <li>PAGINA3</li>
    </ul>
</nav>

<!-- putem insera acest partial view in orice template vrem -->